</body>
<!--<script src="https://cdn.bootcss.com/jquery/2.2.1/jquery.min.js"></script>-->
<!-- jquery -->
<!--<script src="http://cdn.bootcss.com/jquery/1.11.2/jquery.min.js"></script>-->
<!--<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-json/2.5.1/jquery.json.min.js"></script>-->
<!-- bootstrap -->
<!--<script src="http://cdn.bootcss.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->

<!--angular -->
<!--<script src="http://cdn.bootcss.com/angular.js/1.5.0/angular.js"></script>-->
<!--<script src="http://cdn.bootcss.com/angular.js/1.5.0/angular-route.js"></script>-->
<script type="text/javascript" src="js/libs/require.js" defer async data-main="app.config.js"></script>
<!--<script src="app.config.js"></script>-->

<!-- custom js -->
<!--<script src="app.js"></script>-->
<!--<script src="controllers.js"></script>
<script src="directives.js"></script>
<script src="filter.js"></script>
<script src="services.js"></script>-->

<!--<script src="/js/movie.js?t=20160101001"></script>-->
</html>