<!-- user login span -->
<div class="col-md-4 home-panel-right">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-user"></i>&nbsp;&nbsp;学员登录</h3>
        </div>
        <div class="panel-body">
            <p>
                <div class="input-group">
                    <span class="input-group-addon">登录名</span>
                    <input type="text" class="form-control" placeholder="手机号/邮箱" />
                </div>
                <div class="col-md-12 text-right small">
                    <a href="#">忘记用户名？</a>
            </p>
            </div>
            <p>
                <div class="input-group">
                    <span class="input-group-addon">密&nbsp;&nbsp;&nbsp;码</span>
                    <input type="password" class="form-control" />
                </div>
                <div class="col-md-12 text-right small">
                    <a href="#">忘记密码？</a>
            </p>
            </div>
            <p>
                <div class="input-group">
                    <span class="input-group-addon">验证码</span>
                    <input type="password" class="form-control" />
                    <span class="input-group-addon"><img src="images/genimage" height="20" /></span>
                </div>
            </p>
            <div class="col-md-6 text-center">
                <a href="#" class="btn btn-warning">注册</a>
            </div>
            <div class="col-md-6 text-center">
                <a href="#" class="btn btn-primary">登录</a>
            </div>
            <p></p>
        </div>
    </div>
</div>