<div class="col-md-8 home-panel-left">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><i class="glyphicon glyphicon-list-alt"></i>&nbsp;&nbsp;新闻资讯</h3>
        </div>
        <div class="panel-body">
            <div class="col-md-3">
                <img src="images/27151510tb0o.jpg" height="110" />
            </div>
            <div class="col-md-9">
                [教育部] 颁布最新关于规范全国软件水平考试的有关法规法案，今日在官方网站公布，社会对于此次政策的变更
                有着巨大的反响，同时在网络上，网民纷纷对此表示不满，甚至有网民公开发表评论表示抗议此次教育的法案。
                有关部门就此事正在展开调查，最近可能会出现官方公布的结果，本站也将及时更新相关进度，让广大网友们
                不错过每一件身边发生的大事。[详细介绍]
            </div>
        </div>
    </div>
</div>