<div id="top-home-nav">
    <div class="col-md-12 main-map">
    </div>
    <div class="col-md-12 main-title">
        <h1 class="text-center" ng-bind="sitename"></h1>
    </div>
    <div class="col-md-12 main-nav-container visible-lg">
        <div id="main-nav" class="text-center">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li ng-repeat="t in titles" role="presentation" ng-class="{true: 'active', false: 'inactive'}[t.isActive]">
                    <a ng-href="{{t.href}}">{{t.text}}</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <!--<div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">主页</div>
                <div role="tabpanel" class="tab-pane" id="profile">资料</div>
                <div role="tabpanel" class="tab-pane" id="messages">消息</div>
                <div role="tabpanel" class="tab-pane" id="settings">设置</div>
            </div>-->

        </div>
    </div>
</div>