<div id="top-home-nav">
    <div class="col-md-12 main-map">
    </div>
    <div class="col-md-12 main-title">
        <h1 class="text-center"><%=title%></h1>
    </div>
    <div class="col-md-12 main-nav-container visible-lg">
        <div id="main-nav" class="text-center">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">首页</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">新闻中心</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">在线学习</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">政策法规</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">培训信息</a></li>
                <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">公招报名</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">资料下载</a></li>
                <li role="presentation"><a href="#settings" aria-controls="settings" role="tab" data-toggle="tab">关于我们</a></li>
            </ul>

            <!-- Tab panes -->
            <!--<div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="home">主页</div>
                <div role="tabpanel" class="tab-pane" id="profile">资料</div>
                <div role="tabpanel" class="tab-pane" id="messages">消息</div>
                <div role="tabpanel" class="tab-pane" id="settings">设置</div>
            </div>-->

        </div>
    </div>
</div>