body {
    margin:0;
    padding: 0;
    background: #eee;
    background: url('/images/bg.png') 0 0 repeat-x;
    height: 100%;
    width: 100%;
    min-width: 356px;
    font: 12px/1 "Hiragino Sans GB","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
    color: #fff;
}
button, input, select, textarea {
    font-family: arial, "Hiragino Sans GB", "Microsoft YaHei", sans-serif;
}
:focus, a, label {
    outline: 0 none;
}
a, img, input {
    border: 0 none;
}

a, a:hover {
    text-decoration: none;
}

.white {
    color: #fff;
}

.logo a {
    font-size: 48px;
    color: #fff;
}
.logo-area {
    margin-top: 18em;
}
.prod-intro {
    font-size: 16px;
    font-weight: 400;
    color: #bdc8d3;
    text-align: center;
    padding-top: 20px;
}

.loginbutton a {
    display: inline-block;
    width: 16em;
    height: 40px;
    vertical-align: middle;
    border-radius: 30px;
    font-size: 16px;
    line-height: 40px;
    background: #2C759A;
    color: #c1c8d1;
    border-color: #598fab;
    border-width: 1px;
    border-style: solid;
}

.btn332 {
    width: 20em;
    height: 42px;
    margin:0 auto;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    display: block;
    cursor: pointer;
}

.btn_reg {
    background-color: #2C759A;
    color: #fff; 
}

.login-container {
    padding: 10em 1em 10em 1em;
}

.btnadpt {
    width: 100%;
    height: 50px;
    line-height: 50px;
    display: block;
    margin-bottom: 14px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    cursor: pointer;
}

.labelbox  {
    min-height: 50px;
    display: block;
    margin-bottom: 14px;
    padding: 0;
    /*border: 1px solid #e0e0e0;*/
}

.labelbox input {
    width: 100%;
    height: 100%;
    padding: 13px 16px 13px 14px;
    display: block;
    background: transparent;
    border-radius: 0;
}

.layout {
    max-width: 524px;
    margin: 0 auto 20px;
    position: relative;
    min-height: 620px;
}

.login-container .login-area {
    padding: 35px 0;
}

.login-container .login-area .user-top,.pwd-bottom {
    border-radius: 0;
}
.oth_type_tit  {
    margin-top: 20px;
    border-top: 1px solid #e0e0e0;
    padding-top: 10px;
}
.oth_type_txt {
    font-size: 14px;
    color: #b0b0b0;
    margin: 0 auto;
    text-align: center;
    border-bottom: 0;
    width: auto;
}
.icons-container {
    margin-bottom: 20px;
}
.icon-type {
    width: 30px;
    height: 30px;
    margin:0 12px;
    display: inline-block;
    border-radius: 50%;
    background-color: #0288d1;
    filter: grayscale(100%);
}
.btn-icontype {
    background: url('/images/icons_type.png');
    width: 18px;
    height: 18px;
    vertical-align: middle;
}
.icon-type .btn-icontype {
    display: block;
    margin:4px auto 0;
}
.icon-default-qq {
    background-position: -19px 0;
}
.icon-default-weibo {
    background-position: -38px 0;
}
.icon-default-alipay {
    background-position: -57px 0;
    width: 25px;
}
.icon-default-weixin {
    background-position: -84px 0;
    width: 23px;
}
.links-area a {
    margin: 0 20px;
    color: #bdc8d3;
}
.wysiwyg-container {
    height: 100%;
}