<div class="container-fluid" ng-controller="HomeController as vm">
	<div class="col-md-12 text-center logo-area">
		<img height="50" src="images/logo.png">
		<p class="prod-intro" ng-bind="prod_intro">
			
		</p>
	</div>
	<div class="col-md-12 text-center">
		<div class="loginbutton">
			<a class="loginlink" ng-bind="start" ng-href="{{login_url}}">loading...</a>
		</div>
	</div>
	<div class="col-md-12 text-center">
		<highchart id="chart1" config="chartConfig" class="col-md-12"></highchart>
	</div>
</div>
