<div class="body-container">
    <div class="container" ng-controller="LoginController">
        <div class="layout">
            <div class="login-container">
                <div class="col-xs-12 text-center">
                    <div class="logo"><a href="/">Time Note</a></div>
                </div>
                <form name="loginForm" ng-submit="userLogin()">
                    <div class="col-xs-12 text-center login-area">
                        <label class="labelbox">
                            <input type="email" class="form-control white" ng-model="loginname" required placeholder="邮箱/手机号" />
                        </label>
                        <label class="labelbox">
                            <input type="password" class="form-control white" ng-model="password" minlength="6" required placeholder="密码" />
                        </label>
                    </div>
                    <div class="col-xs-12 text-center">
                        <div class="loginbutton">
                            <input type="submit" class="btn332 btn_reg" value="立即登录" />
                        </div>
                    </div>
                </form>
                <div class="col-xs-12 text-center">
                    <fieldset class="oth_type_tit">
                        <legend align="center" class="oth_type_txt">其他方式登录</legend>
                    </fieldset>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="icons-container">
                        <a href="#" class="icon-type"><i class="btn-icontype icon-default-qq"></i></a>
                        <a href="#" class="icon-type"><i class="btn-icontype icon-default-weibo"></i></a>
                        <a href="#" class="icon-type"><i class="btn-icontype icon-default-alipay"></i></a>
                        <a href="#" class="icon-type"><i class="btn-icontype icon-default-weixin"></i></a>
                    </div>
                </div>
                <div class="col-xs-12 text-center">
                    <div class="links-area">
                        <a ng-href="{{register}}">注册账号</a>
                        <a ng-href="{{forgetPassword}}">忘记密码</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
