<nav class="navbar navbar-fixed-top text-center hidden">
    <h1>写笔记</h1>
</nav>
<div class="container">
    <div class="col-md-12">
        <h2>
			<div class="pull-right">
				<a href="#" ng-click="newNote()"><i class="glyphicon glyphicon-saved"></i></a>
			</div>		
			标题</h2>
    </div>
    <div class="col-md-12 wysiwyg-title">
        <input type="text" class="form-control" ng-model="title" placeholder="笔记标题" />
    </div>
    <empty-line></empty-line>
    <div class="col-md-12 text-center wysiwyg-container">
        <div ui-tinymce="tinymceOptions" ng-model="content"></div>
    </div>
</div>
